
body{
margin:0;
font-family:Arial;
}

.login-bg{
height:100vh;
display:flex;
justify-content:center;
align-items:center;

background:linear-gradient(45deg,#00c6ff,#0072ff);
}

.login-card{

background:white;
padding:40px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
text-align:center;
width:300px;

}

input{

width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:1px solid #ccc;

}

button{

padding:10px 20px;
background:#0072ff;
color:white;
border:none;
border-radius:5px;
cursor:pointer;

}

.secondary{

background:#555;

}

.dashboard-bg{

text-align:center;
padding:40px;
background:#f2f2f2;

}

.symptoms{

display:grid;
grid-template-columns:repeat(3,150px);
gap:10px;
justify-content:center;

}

#resultBox{

margin-top:30px;
font-size:22px;
font-weight:bold;
color:#0072ff;

}
